.gif {
    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
}

.yes-button {
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.no-button {
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}